*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-data{
    background: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.zip-code{
    margin: 1rem 0;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}
.zip-code label {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 1em 0 0;
}

.zip-code .code, #feelings {
    padding:  15px 45px;
    margin: 1em;
    font-size: 1rem;
    font-weight: bold;
}

#generate {
    padding: 15px 45px;
    font-size: 1.5rem;
    font-weight: bolder;
    width: 90%;
    border: none;
    background-color: #051937;
    color: #a8eb12;
    text-transform: uppercase;
    margin: 1em 0;
    cursor: pointer;
}
.content {
    display: none;
}